@font-face {
    font-family: monserrat;
    src: url(../Fonts/Montserrat-Regular.ttf);
}

html, body{
    font-family: monserrat;
    background: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
}

/* Login */

.gridLogin{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 10rem);
    grid-gap: 0px;
}

.contLogin{
    grid-column: 2/3;
    grid-row: 2;
    font-family: monserrat;
    text-align: center;
    
}

.formLogin{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
    text-align: center;
    text-align: -webkit-center;
}

.tituLogin, .tituLoginHeader{
    margin: 30px 0px 25px 0px;
}

.tituLoginHeader{
    text-align: center;
    font-size: 25px;
}

input{
    font-family: monserrat;
    height: 25px;
    padding: 15px;
    margin: 10px;
    text-align: center;    
    font-size: 15px;
}

button{
    font-family: monserrat;
    height: 50px;
    margin: 20px 0px 5px 0px;
    background: #0c489e;
    color: #fff;
    border-color: #0c489e;
}

button:disabled,
button[disabled]{
  background: #7999c7;
  border-color: transparent;
}

.formErrores{
    color:#d21749;
    font-size: 12px;
}

@media only screen and (min-width: 230px) {

    input, button, select{
        width: 255px;
    }

}


 @media only screen and (min-width: 800px) {

    input, button, select{
        width: 300px;
    }

}

@media only screen and (max-width: 830px) {

    .tituLogin{
        font-size: 25px;
    }
}

 
.formCheck, .formCheckTabla{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
    text-align: -webkit-center;
    margin: 10px 0px 0px 0px;
}

.formCheckT input{
    width: 15px;
}

.formCheck input[type=checkbox]{
    transform: scale(0.8);
    width: 15px;
    margin: 0px;
    padding: 0px;
    grid-column: 2;
    grid-row: 1;
}

.formCheck p{
    grid-column: 2/5;
    grid-row: 1;
}

/* Header */

.contHeader{
    background-color: #d6d6d6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
}

/* Menu */

#btnMenu{
    padding: 30px 0px 0px 20px;
    font-size: 20px;
}

.contMenu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
}

.contItem, .contItemHeader{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #ddd;
    
}

.contItem .fa{
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.contItemHeader .fa{
    grid-column: 4/5;
    grid-row: 1;
    font-size: 25px;
    text-align: right;
    margin-right: 5px;    
    padding: 10px 0px 0px 0px;
}

.contItemHeader p{
    grid-column: 5/5;
    grid-row: 1;
    line-height: 18px;
}

.contItem p{
    grid-column: 2/5;
    padding: 10px 0px 0px 0px;
}

.contItemHeader{
    color: rgb(0, 0, 0);
    
}

/* Tabla */

.conTabla, .conTablaCrea{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.conTabla .table-dark{
    grid-column: 2/5;
    grid-row: 2;
}

.conTabla h3, .conTablaCrea h3{
    grid-column: 2/5;
    grid-row: 1;
    padding: 35px 0px 0px 0px;
    text-align: left;
}

/* Crea Clientes */

.conTablaCrea h3{
    text-align: center;
}

tr, td{
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.btnCrear{
    grid-column: 4/5;
    grid-row: 1;    
    text-align: right;    
}

.btnCrear button{
    width: 150px;
}

.formCrear{
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
}

.formCrear input{
    padding: 15px;
    margin: 10px;
}

.btnsForm{
    grid-column: 2/5;
    grid-row: 3;
}

.conTablaCrea select{
    height: 35px;
    margin: 10px;
    padding: 5px 0px 5px 0px;
}

.formCheckTabla input[type=checkbox]{
    transform: scale(0.8);
    width: 20px;
    padding: 0px;
    grid-column: 2/5;
    grid-row: 1;
    margin: 0px 120px 0px 0px;
}

.formCheckTabla p{
    grid-column: 2/5;
    grid-row: 1;
}

.btnBorrar{
    background: #d21749;
    border-color: #d21749;
    width: 150px;
    margin: 10px;
    padding: 0px;
    height: 35px;
}

.cliente{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
}

.cliente input{
    width: 150px;
}